@import "tailwindcss";

/* Floating animation on the home page */
#hero {
  animation: float 30s ease-in-out infinite;
}

@keyframes float {
  0%, 50%, 100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
}
